#hero{
  width: 1300px;
  background-color: #13162d;
  margin: 50px 0;
  padding: 20px;
  color: #fff
}

.hero__list{
  @include list-style;
  width: 1125px;
  gap: 4px;
  display: flex;
  margin: 0 auto;
}

.hero__item{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f8f6d8;
  transition: all 0.3s ease;

  img{
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

.hero__level{
  width: 50px;
  height: 50px;
  background-color: #6533bc;
  border: 3px solid #aaaab8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 20px;
}

.hero__time-box{
  margin-right: 10px;
}

.bx-alarm{
  font-size: 45px;
  color: #f7214e;
}

.hero__time{
  font-size: 30px;
  background-color: #251733;
  padding: 0 15px 0 10px;
  border-radius: 8px 8px 12px 12px;
  box-shadow: 0px 3px 0px 0px rgba(88, 79, 166, 1);
  margin-right: 25px;
}

.hero__star-box{
  display: flex;
  align-items: center;
  margin-right: 10px;

  .bxs-star{
    font-size: 45px;
    color: #f4d701;
  }
}

.hero__points{
  font-size: 30px;
  background-color: #251733;
  border-radius: 8px 8px 12px 12px;
  box-shadow: 0px 3px 0px 0px rgba(88, 79, 166, 1);
  width: 150px;
  padding-left: 10px;
}

.hero__shuffle-box{
  margin-right: 30px;

  .bx-shuffle{
    font-size: 55px;
    color: #ffaa00;
  }
}

.hero__shuffle-chances{
  font-size: 25px;
}

.hero__search-box{
  margin-right: 30px;

  .bx-search{
    font-size: 55px;
    color: #75ea28;
  }
}

.hero__search-choices{
  font-size: 25px;
}

.bx-pause{
  line-height: 0;
  font-size: 60px;
}



